/* @font-face {
  font-family: "Gambetta-Medium";
  src: url("./Fonts/Gambetta-Medium.ttf");
}

body {
  font-family: 'Gambetta-Medium';
  background-color: #A6BB8D;
}

.card-white {
  overflow: hidden;
  height: 120px;
  background: #61876E;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-white img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 8px 8px 2px 8px;
}

.card-white h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-education img {
  width: 160px;
  height: 160px;
}

.card-me {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  width: 70%;
  margin: 24px auto;
  padding: 32px;
  text-align: center;
} */
